body {
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#whole{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: gray;
    align-items: stretch;
    border-style: solid;
    border-color: darkgreen;
}
#header{
    order:-2;
    flex:0 0 120pt;
    color: rgb(0, 0, 0);
    background-color: lightgray;
    max-width: 1600pt;
    display: flex;
    flex-direction: column;
}
#nav{
    order:-1;
    flex: 0 0 20pt;
    color:rgb(0, 0, 0);
    background-color: lightgray;
    max-width:1600pt;
}
.nav_link{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    padding: 2px;
}
#content {
    order:0;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    max-width: 1200pt;
    min-width: 600pt;
    min-height: 500pt;
}
#main {
    order:0;
    flex:2 1 auto;
    padding: 10px;
    padding-left: 30px;
    color: black;
    background-color: lightgray;
}
#left {
    order: -1;
    flex: 0 1 auto;
    padding: 0px;
    margin-right: 0px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#right {
    order:1;     
    flex: 0 1 auto;
    padding: 0px;
    margin-left: 0px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center
}
a:link{
    color: blue;
}

a:visited{
    color:darkblue;
}

#main>p>a{
    target-new:tab;
}
th {
    background-color: rgb(240, 240, 240);
    color: rgb(0, 0, 0);
}
tr:nth-child(even) 
{
    background-color: #e0e0e0;
}
tr:nth-child(odd) 
{
    background-color: #bbf3bb;
}
